<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="owner">

	<!-- insert, delete, update는 무조건 resultType = "int"이므로 프로그래머가 써주지 않아도 이미 
		resultType = "int"로 본다.! -->

	<insert id="create" parameterType="Owner_memberVO">
		insert into owner_member
		values (#{id}, #{pw}, #{homeNum},
		#{address},#{address_de},#{picture},now())
	</insert>

	<delete id="del" parameterType="String">
		delete from owner_member where id
		= #{id}
	</delete>

	<update id="up" parameterType="Owner_memberVO">
		update owner_member set tel =
		#{tel} where id = #{id}
	</update>

	<select id="one" parameterType="String"
		resultType="Owner_memberVO">
		select * from owner_member where id = #{id}
	</select>
	<select id="list" resultType="Owner_memberVO">
		select * from owner_member
	</select>
	<select id="login" parameterType="String"
		resultType="Owner_memberVO">
		select * from owner_member where id = #{id} and pw = #{pw}
	</select>
	<!-- vo와 db table의 같을 때는 자동으로 컬럼명과 동일한 vo의 변수에 자동으로 넣어줌 . vo와 db table이 
		다를 때는 수동으로 어떤 컬럼명에서 꺼내서 vo의 변수에 넣어줄지 mapping을 해주어야 함. -->



</mapper>











