.color-primary {
    color: rgb(79, 29, 121);
}

.font-50 {
    font-size: 50px;
}
.select-style1 {
    height: 40px;
    font-size: 20px;
    color: blue;
}

.tb-head>tr>td {
    border: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
    color: red;
}
/* 자식 선택자 */
.tb-body>tr>td {
    border: 1px solid #000;
    
}
 /* p태그 */
p{
    background: green;
    font-size: 50px;
}
/* 클래스 선택자 */
.class1{
    background: red;
}
/* id 선택자 */
#d1 {
    background: purple;
}
/* 하위 선택자 */
.tb td{
    border: 1px solid #000;
}