<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diet">
	
	<insert id="create" parameterType="dietVO">
		insert into diet values (#{no}, #{morning}, #{lunch}, #{dinner},#{img})
	</insert>
	
	<delete id="del"  parameterType="dietVO">
		delete from diet where no = #{no}
	</delete>
	
	<update id="up"  parameterType="dietVO">
		update diet set lunch = #{lunch} where no = #{no}
	</update>
	
	<select id="one" parameterType="String" resultType="dietVO" >
	select * from diet where no = #{no}
	</select>
	
	<select id="all" resultType="dietVO">
	select * from diet
	</select>
	
	
	
</mapper>











